{% extends 'index.html' %}
{% block remaining_content %}
  {% if tasks %}
  <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
    {% for task in tasks %}
      <div class="card rounded-4 me-2">
        <div class="card-body">
            <div class="d-flex mb-3">
                <button class="btn btn-dark rounded-pill">{{task.category}}</button>
                <!-- <p><i class="fa-solid fa-ellipsis fs-4"></i></p> -->
                <div class="dropdown ms-auto">
                    <i class="fas fa-ellipsis-vertical fs-4" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu">
                        <li>
                          <span class="dropdown-item">
                            <a href="{% url 'edit_task' task.id %}" class="text-decoration-none text-warning">
                                <i class="fas fa-pen mx-2"></i> Update
                            </a>
                          </span>
                        </li>
                        <li>
                          <span class="dropdown-item">
                            <a href="{% url 'delete' task.id %}" class="text-decoration-none text-danger">
                                <i class="fas fa-trash mx-2"></i> Delete
                            </a>
                          </span>
                        </li>
                      </ul>
                </div>
            </div>
        <a href="{% url 'task_detail' task.id %}" class="text-decoration-none text-dark">
            <h5 class="card-title d-flex justify-content-between">{{task.title}}
              {% if task.completed %}
              <p class="fs-5"><i class="fa-regular fa-circle-check fw-bold text-success"></i></p>
              {% else %}
              <p class="fs-5"><i class="fa-regular fa-hourglass-half text-danger fw-bold"></i></p>
              {% endif %}
            </h5>
        </a>
          <p class="card-text">{{ task.description |  truncatechars:100 }} {% if value|length > 30 %}...{% endif %}</p>
        </div>
        <div class="card-footer bg-white d-flex justify-content-between">
            <p class="fw-semibold">Priority: {{task.priority}}</p>
            <p class="fw-medium"><i class="fa-solid fa-calendar-days"></i> {{task.due_date}}</p>
        </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="text-center my-5">
    <h4 class="text-danger">No pending task</h4>
  </div>
  {% endif %}
{% endblock %}