<footer class="bg-black py-5">
  <div class="container">
      <div class="row">

          <div class="col-md-3 col-12 me-auto mb-4">
              <h1 class="text-white mb-3"><a href="{% url 'home' %}" class="text-secondary text-decoration-none">Arcane</a></h1>
              <p class="texxt-secondary text-muted mt-lg-5 mb-4 mb-lg-0" style="font-size: 20px;">Copyright © 2024 <strong>Arcane .inc</strong></p>
              <br>
              <p style="font-size: 20px;">Designed by Arcane</p>
          </div>

          <div class="col-md-5 col-12">
              <h3 class="text-white mb-3">Sitemap</h3>

              <div class="text-secondary" style="font-size: 18px;">
                  <li class="list-unstyled"><a href="#about" class="text-decoration-none text-secondary" >Story</a></li>
                  <li class="list-unstyled"><a href="#" class="text-decoration-none text-secondary">Products</a></li>
                  <li class="list-unstyled"><a href="#" class="text-decoration-none text-secondary">Privacy policy</a></li>
                  <li class="list-unstyled"><a href="#" class="text-decoration-none text-secondary">FAQs</a></li>
                  <li class="list-unstyled"><a href="#" class="text-decoration-none text-secondary">Contact</a></li>
              </div>
          </div>

          <div class="col-lg-3">
              <h3 class="text-white mb-3">Social</h3>

              <p style="font-size: 20px;">
                <i class="fa-brands fa-youtube m-2"></i>
                <i class="fa-brands fa-whatsapp m-2"></i>
                <i class="fa-brands fa-skype m-2"></i>
                <i class="fa-brands fa-instagram m-2"></i>
              </p>
          </div>

      </div>
  </div>
</footer>