<!-- <footer class="bg-black py-5">
  <div class="container">
      <div class="row">

          <div class="col-md-3 col-12 me-auto mb-4">
              <h1 class="text-white mb-3"><a href="{% url 'home' %}" class="text-secondary text-decoration-none">Arcane</a></h1>
              <p class="texxt-secondary text-muted mt-lg-5 mb-4 mb-lg-0" style="font-size: 20px;">Copyright © 2024 <strong>Arcane .inc</strong></p>
              <br>
              <p style="font-size: 20px;">Designed by Arcane</p>
          </div>

          <div class="col-md-5 col-12">
              <h3 class="text-white mb-3">Sitemap</h3>

              <div class="text-secondary" style="font-size: 18px;">
                  <li class="list-unstyled"><a href="{% url 'about' %}" class="text-decoration-none text-secondary">About</a></li>
                  <li class="list-unstyled"><a href="#" class="text-decoration-none text-secondary">Privacy policy</a></li>
                  <li class="list-unstyled"><a href="#" class="text-decoration-none text-secondary">FAQs</a></li>
                  <li class="list-unstyled"><a href="{% url 'contact' %}" class="text-decoration-none text-secondary">Contact</a></li>
              </div>
          </div>

          <div class="col-lg-3">
              <h3 class="text-white mb-3">Social</h3>

              <p style="font-size: 20px;">
                <i class="fa-brands fa-youtube m-2"></i>
                <i class="fa-brands fa-whatsapp m-2"></i>
                <i class="fa-brands fa-skype m-2"></i>
                <i class="fa-brands fa-instagram m-2"></i>
              </p>
          </div>

      </div>
  </div>
</footer> -->

<section class="deneb_cta">
	<div class="container">
		<div class="cta_wrapper">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="cta_content">
						<h3>Have Any Project in Mind ?</h3>
						<p>Curabitur libero eros, efficitur sit amet sodales tincidunt, aliquet et leo sed ut nibh feugiat, auctor enim quis.</p>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="button_box">
						<a href="#" class="btn btn-warning">Get start</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer class="deneb_footer">
	<div class="widget_wrapper" style="background-image: url(http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="widget widegt_about">
						<div class="widget_title">
							<img src="assets/images/logo_1.png" class="img-fluid" alt="">
						</div>
						<p>Quisque orci nisl, viverra et sem ac, tincidunt egestas massa. Morbi est arcu, hendrerit ac vehicula condimentum, euismod nec tortor praesent consequat urna.</p>
						<ul class="social">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Links</h4>
						</div>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Portfolio</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Contact Us</h4>
						</div>
						<div class="contact_info">
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-phone-alt"></i>
								</div>
								<div class="info">
									<p><a href="tel:+919246147999">1800-121-3637</a></p>
									<p><a href="tel:+919246147999">+91 924-614-7999</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="info">
									<p><a href="mailto:info@deneb.com">info@deneb.com</a></p>
									<p><a href="mailto:services@deneb.com">services@deneb.com</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="info">
									<p>125, Park street aven, Brocklyn,<span>Newyork.</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright_text">
						<p>Copyright &copy; 2020 All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>