
.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
}
.nav-link.active{
    
    font-weight: bold;
}
.login-bg{
    background-color: #D0D7F4;
}
